body{
    background-color: lightgrey;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.student-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 50px auto;
}
.student-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.search{
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}